<h2 mat-dialog-title>{{ tituloFormulario }}</h2>

<mat-dialog-content>
  <app-loading></app-loading>
  <form [formGroup]="programaForm" (ngSubmit)="guardarPrograma()" class="user-form">

    <!-- Campo Código Programa -->
    <div class="form-field">
      <label for="codigo" class="form-label">Código Programa</label>
      <input id="codigo" type="number" pInputText formControlName="codigo_programa" class="w-full" required />
      <small class="p-error" *ngIf="programaForm.get('codigo_programa')?.touched && programaForm.get('codigo_programa')?.invalid">
        {{ getFieldError('codigo_programa') }}
      </small>
    </div>

    <!-- Campo Nombre Programa -->
    <div class="form-field">
      <label for="nombre" class="form-label">Nombre Programa</label>
      <input id="nombre" type="text" pInputText formControlName="nombre_programa" class="w-full" required />
      <small class="p-error" *ngIf="programaForm.get('nombre_programa')?.touched && programaForm.get('nombre_programa')?.invalid">
        {{ getFieldError('nombre_programa') }}
      </small>
    </div>

    <!-- Campo Estado -->
    <div class="form-field">
      <label for="activo" class="form-label">Estado</label>
      <p-select
        id="activo"
        [options]="estadoOptions"
        formControlName="activo"
        placeholder="Seleccione estado"
        styleClass="w-full"
      ></p-select>
      <small class="p-error" *ngIf="programaForm.get('activo')?.touched && programaForm.get('activo')?.invalid">
        {{ getFieldError('activo') }}
      </small>
    </div>

    <div class="flex justify-content-end gap-2 mt-4">
      <p-button label="Cancelar" [text]="true" (onClick)="dialogRef.close()"></p-button>
      <p-button label="Actualizar programa" type="submit" [disabled]="programaForm.invalid"></p-button>
    </div>
  </form>
</mat-dialog-content>